{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-shadow": "off",
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "prefer-destructuring": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": "off",
    "max-len": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
